.thin {
    font-family: Montserrat-Thin;
}

.medium {
    font-family: Montserrat-Medium;
}

.light {
    font-family: Montserrat-Light;
}

* {
    font-family: VarelaRound;
    color: white;
}

nav {
    background-color: white;
}

nav ul a{ 
    color: #2196F3;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 600;
}

nav .brand-logo {
    color: #2196F3;
}

#event {
    color: #ff7043;
}

#login-section {
    margin-top: 0;
    height:100vh;
}

#form-wrapper {
    width: 400px;
    margin: auto;
    border-top: 4px solid #ff5722;
    background-color: #37474F;

}

#login-form {
    width: 350px;
}

#form-wrapper {
    margin: auto;
}

#login-form > button {
    width: 100%;
}

#login-form > input, button {
    margin-bottom:20px;
}

#event-title {
    color:#37474f;
}

