<section>

  <h1 class="center-align">Participant</h1>
  <div class="container">
    <!-- <button class="btn" (click)="createStudent()">Create</button> -->
    <table class="striped centered highlight">
      <thead>
        <tr>
          <th>Id</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Year</th>
          <th>Event</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{student.studentId}}</td>
          <td>{{student.firstname}}</td>
          <td>{{student.lastname}}</td>
          <td>{{student.email}}</td>
          <td>{{student.studentYear}}</td>
          <td>{{student.event}}</td>
          <td>
            <button class="btn" (click)="updateStudent(student)">Update</button> |
            <button class="btn" (click)="deleteStudent(student)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>