<section id="main-section">
  <header class="">
    <div class="navbar-fixed">
      <nav class="">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo medium">CPEVENT</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li>
                <a href="dashboard#banner-section">Home</a>
              </li>
              <li>
                <a href="dashboard#event-section">Events</a>
              </li>
              <li>
                <a (click)="adminLoginPage()">Admin</a>
              </li>
              <li>
                <a href="dashboard#contact-footer" id="subscribe-btn" class="btn">Subscribe</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <section id="first-section">
    <div class="container">
      <h5 class="light center-align">Dashboard</h5>
      <hr id="divider">
      <div class="row">
        <div class="col l4">
          <div class="card-panel dashboard-panels valign-wrapper" id="event-list" (click)="eventListPage()">
            <h6 class="">Event</h6>
          </div>
        </div>
        <div class="col l4">
          <div class="card-panel dashboard-panels valign-wrapper" id="participants" (click)="studentListPage()">
            <h6 class="">Participants</h6>
          </div>
        </div>
        <div class="col l4">
          <div class="card-panel dashboard-panels valign-wrapper" id="administrator">
            <h6 class="">Administrator</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>